.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    font-weight: bold;
    color: #ffcc66;
}

.product-description {
    width: 90%;
}

.product-actions { 
    margin-top: .75rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-actions .btn .btn-add {
    margin: 1rem;
}

.product-image {
    object-fit: cover;
    width: 100%;
}

.product-price {
    margin: 0;
}

.image-container {
    width: 100%;
}